In [2]:
import pandas as pd
from ast import literal_eval
from datetime import datetime

In [3]:
#using the new csv file here
csv_file = "new_movie_metadata.csv"

df = pd.read_csv(csv_file, header= 0, encoding= 'unicode_escape')

C:\Users\bvera\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (0,2,4,9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df.columns

Index(['adult', 'belongs_to_collection', 'budget', 'homepage', 'id', 'imdb_id',
       'original_language', 'original_title', 'overview', 'popularity',
       'poster_path', 'production_countries', 'release_date', 'revenue',
       'runtime', 'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count', 'production_companies', 'genre'],
      dtype='object')

In [5]:
df["release_date"]

0        10/21/1988
1        10/16/1986
2         12/9/1995
3        10/15/1993
4         5/25/1977
            ...
45627     6/28/2017
45628     2/19/1956
45629      1/1/1956
45630     7/28/2017
45631      8/2/1984
Name: release_date, Length: 45632, dtype: object

In [6]:
release_date = df[['id','release_date']].head()

In [7]:
release_date

   id release_date
0   2   10/21/1988
1   3   10/16/1986
2   5    12/9/1995
3   6   10/15/1993
4  11    5/25/1977

In [8]:
#a for loop to pick up dates in the excel that are messy.
year_list = []

for row_number, date in df["release_date"].items():
    if isinstance(date, float) or len(date) <=3:
        year_list.append(None)
    else:
        try:
            date_year = datetime.strptime(date, "%m/%d/%Y")
            year_list.append(date_year.year)
        except ValueError:
            date_year = datetime.strptime(date, "%Y-%m-%d")
            year_list.append(date_year.year)

In [9]:
#new column, who dis?
df["release_year"] = year_list

In [10]:
df.columns

Index(['adult', 'belongs_to_collection', 'budget', 'homepage', 'id', 'imdb_id',
       'original_language', 'original_title', 'overview', 'popularity',
       'poster_path', 'production_countries', 'release_date', 'revenue',
       'runtime', 'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count', 'production_companies', 'genre',
       'release_year'],
      dtype='object')

In [11]:
df[["release_date","release_year"]]

      release_date  release_year
0       10/21/1988        1988.0
1       10/16/1986        1986.0
2        12/9/1995        1995.0
3       10/15/1993        1993.0
4        5/25/1977        1977.0
...            ...           ...
45627    6/28/2017        2017.0
45628    2/19/1956        1956.0
45629     1/1/1956        1956.0
45630    7/28/2017        2017.0
45631     8/2/1984        1984.0

[45632 rows x 2 columns]

In [12]:
production = df[["title","release_year","budget","revenue","production_companies"]].copy()

In [13]:
production.sort_values(by = ["release_year"],ascending = False)

,title,release_year,budget,revenue,production_companies
25958,Avatar 2,2020.0,0,0.0,"Twentieth Century Fox Film Corporation, Lights..."
42308,Mary Shelley,2018.0,0,0.0,"Parallel Films, Bord Scannan na hEireann / Iri..."
15926,Bad Boys for Life,2018.0,0,0.0,"Columbia Pictures, Sony Pictures, Jerry Bruckh..."
41284,Iron Sky: The Coming Race,2018.0,18000000,0.0,"27 Films Production, Potemkino, Iron sky universe"
44962,Mobile Homes,2018.0,0,0.0,NaN
...,...,...,...,...,...
45530,Half -Life,NaN,0,0.0,"Bad Robot, Valve, Wishbone Films, Wishbone Fil..."
45540,Aprel,NaN,0,0.0,NaN
45562,Supermassive Black Holes,NaN,0,0.0,NaN
45571,Dance of Outlaws,NaN,0,0.0,NaN
45588,Neither Wolf Nor Dog,NaN,0,0.0,NaN