In [1]:
import pandas as pd
import json
from ast import literal_eval
from pandas.io.json import json_normalize

In [3]:
csv_file = "movies_metadata.csv"

# df = pd.read_csv(csv_file,'unicode_escape')

df = pd.read_csv(csv_file, header= 0, encoding= 'unicode_escape')

# csv_file.encode('utf-8').strip(csv_file)

In [4]:
# df.head()

In [4]:
df["genres"].head(1)

0    [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
Name: genres, dtype: object

In [8]:
 # Step 2: Isolation of columns that are relevant
movie_genres = df[['id', 'genres']]

In [9]:
# Step 3: Iterate over each row from our isolated dataset
# to_string converts the movie_genre dataframe to a string. movie_genre is a variable prior.
parse_genre_df = pd.DataFrame()

for row_number, movie in movie_genres.iterrows():
    genre_list = []
#     print(type(movie_genres))
#     print(type(movie_genres.to_string()))
    for genre_counter, genre in enumerate(literal_eval(movie['genres'])):
#   print(movie['id'], genre.get('name'))
        genre_list.append(genre.get('name'))
            
        

    # Associate the parsed genres with the movie id
    parse_genre_df = parse_genre_df.append({"id": movie['id'],
                                            'genre': ', '.join(map(str, genre_list))},
                                           ignore_index=True,
                                           sort=False)

In [8]:
# parse_genre_df.head()

                            genre      id
0       Animation, Comedy, Family     862
1      Adventure, Fantasy, Family    8844
2                 Romance, Comedy   15602
3          Comedy, Drama, Romance   31357
4                          Comedy   11862
...                           ...     ...
45461               Drama, Family  439050
45462                       Drama  111109
45463     Action, Drama, Thriller   67758
45464                              227506
45465                              461257

[45466 rows x 2 columns]

In [5]:
prod_company = df[["id", "production_companies"]]

In [7]:
parse_companies_df = pd.DataFrame()

for row_number, movie in prod_company.iterrows():
    company_list = []
    try:
        for company_counter, company in enumerate(literal_eval(movie['production_companies'])):
            company_list.append(company.get('name'))
    except ValueError:
        pass
        
    parse_companies_df = parse_companies_df.append({'id': movie['id'],
                                                   'production_companies': ', '.join(map(str, company_list))},
                                           ignore_index=True,
                                           sort=False)

In [ ]:
# parse_companies_df.head()

In [10]:
df.drop(['genres', 'production_companies'], axis=1, inplace = True)

In [11]:
df.columns

Index(['adult', 'belongs_to_collection', 'budget', 'homepage', 'id', 'imdb_id',
       'original_language', 'original_title', 'overview', 'popularity',
       'poster_path', 'production_countries', 'release_date', 'revenue',
       'runtime', 'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [12]:
df = df.merge(parse_companies_df, on="id")

In [13]:
df.columns

Index(['adult', 'belongs_to_collection', 'budget', 'homepage', 'id', 'imdb_id',
       'original_language', 'original_title', 'overview', 'popularity',
       'poster_path', 'production_countries', 'release_date', 'revenue',
       'runtime', 'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count', 'production_companies'],
      dtype='object')

In [14]:
df = df.merge(parse_genre_df, on="id")

In [15]:
df. columns

Index(['adult', 'belongs_to_collection', 'budget', 'homepage', 'id', 'imdb_id',
       'original_language', 'original_title', 'overview', 'popularity',
       'poster_path', 'production_countries', 'release_date', 'revenue',
       'runtime', 'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count', 'production_companies', 'genre'],
      dtype='object')

In [16]:
df.head(5)

,adult,belongs_to_collection,budget,homepage,id,imdb_id,original_language,original_title,overview,popularity,...,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,production_companies,genre
0,FALSE,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.9469,...,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,Pixar Animation Studios,"Animation, Comedy, Family"
1,FALSE,NaN,65000000,NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.0155,...,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,"TriStar Pictures, Teitler Film, Interscope Com...","Adventure, Fantasy, Family"
2,FALSE,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,...,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,"Warner Bros., Lancaster Gate","Romance, Comedy"
3,FALSE,NaN,16000000,NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.85949,...,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,Twentieth Century Fox Film Corporation,"Comedy, Drama, Romance"
4,FALSE,"{'id': 96871, 'name': 'Father of the Bride Col...",0,NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.38752,...,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,"Sandollar Productions, Touchstone Pictures",Comedy

In [17]:
df.to_csv('new_movie_metadata.csv', index=False)